<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPizzaStoreDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://34.193.163.157/pizza-store-data-access/PizzaStoreDataService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPizzaStoreDataService"
                contract="PizzaStoreDataService.IPizzaStoreDataService" name="BasicHttpBinding_IPizzaStoreDataService" />
        </client>
    </system.serviceModel>
</configuration>